<!-- blog/templates/blog/base.html -->

{% load static %} <link rel="stylesheet" href="{% static "blog/base.css" %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sinsemilla Journey – {% block page_title %}A Cannabis Cultivation Blog{% endblock %}</title>
</head>

<body>
  <!-- The header -->
  <header id="site-header">
     <h1>Sinsemilla Journey</h1>
     <p>A Cannabis Cultivation Blog</p>
     <img src="{% static "blog/logo.png" %}" alt="Logo">
  </header>

  <!-- Top navigation -->
  <nav id="top-nav">
    <ul>
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "about" %}">About</a></li>
      <li><a href="{% url "post-list" %}">Posts</a></li>
      <li><a href="{% url "topic-list" %}">Topics</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <main id="main-content">
    <div>
      {% block main %}
      <!-- Content for the main block will be rendered here -->
      {% endblock %}
    </div>

    <aside id="sidebar">

     <section id="topic-list">
       <h3>Popular Topics</h3>
       <ul>
         {% for topic in topics_info %}
           <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }} ({{ topic.blog_posts.published.count }})</a></li>
         {% endfor %}
       </ul>
       <p><a href="{% url "topic-list" %}">   View All Topics</a></p>
     </section>

     <section id="author-list">
       <h3>Authors</h3>
       <ul>
         {% for author in authors %}
         <li>{{ author.get_full_name }}</li>
         {% endfor %}
       </ul>
     </section>

    </aside>
  </main>

  <!-- The footer -->
  <footer id="site-footer">
    <!-- Print copyright with the current year -->
    Copyright &copy; {% now 'Y' %} –
    <a href="{% url "terms-and-conditions" %}">Terms & conditions</a>
  </footer>
</body>
</html>
